.registerWrapper {
  display: flex;
  justify-content: center;
}

.registerWrapper form {
  display: flex;
  gap: 10px;
}

.registerWrapper button {
  align-items: center;
  margin-left: 30px;
  padding: 5px 10px;

  border: transparent;
  outline: transparent;

  transition: all 250ms;

  cursor: pointer;
}

.registerWrapper button:hover {
  color: white;
  background-color: #8a2be2;
}
